
name: Check Syntax

on: [commit]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install dependencies
        run: npm install
        env:
          CI: true

      - name: Generate output
        run: npm run inspect
    
  